<div class="box box-primary nav-tabs-custom">
    <div class="box-header with-border nav-tabs">
        <h3 class="box-title">문제별 통과현황</h3>

        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
    </div>
    <div class="box-body">
        <a href="/select">
            <div class="chart">
                <canvas id="barChart" style="height:250px"></canvas>
            </div>
        </a>
    </div>
</div>
<!-- /.box-body -->