<div class="box-header with-border nav-tabs">
    <i class="fa fa-bar-chart-o"></i>

    <h3 class="box-title">성적 상위 10% 분포</h3>

    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
      </button>
      <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
    </div>
  </div>
  <div class="box-body">
    <div id="donut-chart" style="height: 300px;"></div>
  </div>
  <!-- /.box-body-->